/* CSS HEADER */
@import '~antd/dist/reset.css';
@import '~react-toastify/dist/ReactToastify.css';
.Container-header {
    width: 100vw;
    height: 500px;
    border-bottom: 1px solid #ccc; /* Light gray horizontal line */
}